/GeneradorExamenesProyecto/nbproject/private/
/GeneradorExamenesProyecto/build/
/GeneradorExamenesProyecto/dist/
/prueba/prueba-ejb/build/
/prueba/prueba-war/build/
/prueba/prueba-ejb/dist/
/prueba/WebIGPA-ejb/nbproject/private/
/igpa/build/
/igpa/dist/
/igpa/igpa-ejb/build/
/igpa/igpa-ejb/dist/
/igpa/igpa-ejb/nbproject/private/
/igpa/igpa-war/build/
/igpa/igpa-war/dist/
/igpa/igpa-war/nbproject/private/
/igpa/nbproject/private/